body {
    margin: 0;
    padding: 0;
}

.Icons{
    width: 20px;
    height: 20x;
    cursor: pointer;
}

#Logoimg{
    width: 8rem;
    height: 2.5rem;
    margin-left: 10px;
}

header{
    width: 100%;
}

#Navbar{
    width: 100%;
    height: 3.5rem;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(240, 235, 235); */
    background-color: rgba(185, 214, 253, 0.236);
   
  
   
}

#LeftNav{
    display: flex;
    align-items: center;
}

#RightNav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-right: 1rem;
   
    

}

#Searchbar{
    padding: 5px;
   width: 10rem;
    outline-color:aliceblue;
    
    border-color: aliceblue;
    border-bottom-color:rgb(193, 191, 191);
    border-right-color: rgb(193, 191, 191);
    
    border-radius: 5px;
    font-size: medium;
}


