* {
    font-family: Arial, Helvetica, sans-serif;

}


#display {
    background-color: rgba(255, 255, 255, 0.864);
    top: 3.5rem;
    margin-left: 21rem;
    width: 80rem;
    padding: 0.4rem;
    position: fixed;
    height: 100vh;
    z-index: 1;
    overflow-y: auto;
    padding: 1rem;
    

}

#Sidebarfooter{
   
    
  
    padding: 1rem;
}

#Footer{
   
   
    margin-bottom: 10rem;
}
#MobileSide{
    display: none;
}

@media screen and (max-width: 580px) {
    
#MobileSide {
   
    display: block;

    height: 5rem;
    margin-top: 10rem;
    bottom: 0;
    width: 100%;
    position: fixed;
    justify-content: space-evenly;

   
    background-color: rgb(185, 214, 253);
    z-index: 1000;
}
#MobileDiv{
    padding: 0.5rem;
    display: flex; 
    justify-content: space-evenly;
}
#Sidebar{
    display: none;

}

#display{
    display: block;
    margin-left: 0;
    height: 84%;
   
   
}
}